.datePicker__selectTimeWrapper {
  display: flex;
  justify-content: start;
  column-gap: .5rem;
  padding: 0;
}

.datePicker__selectTimeWrapper>div {
  padding: 0;
  width: 100%;
}

.datePicker__selectTimeWrapper h5 {
  text-align: right;
}